<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main">
  <h3 class="no-bills" text-center *ngIf="loadItems().length === 0">
    You have no upcoming bills!  
  </h3>
  <ion-list>
    <ion-item-sliding *ngFor="let item of loadItems(); let i = index">
      <ion-item>
        <h2>Bill: {{item.bill}}</h2>
        <p>Amount Due: {{item.amount}}</p>
        <p>Due Date: {{item.date}}</p>
      </ion-item>
      <ion-item-options>
        <button (click)="editItem(item, i)" ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit Bill Details
        </button>

        <button (click)="removeItem(item, i)" ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Remove Bill
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button (click)="addItem()" ion-fab class="add-button">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>