page-home {

    .main {
        background-color: #00bfff;
    }

    .nav {
        background-color: #000000;
    }

    h3.no-bills {
        color: #ffffff;
        padding: 15% 0;
    }

    .add-button {
        background-color: #ffffff;
        color: #000000;
    }


}