page-home {

    .main {
        background-color: #00bfff;
    }

    h3.no-bills {
        color: #ffffff;
    }

    .add-button {
        background-color: #ffffff;
        color: #000000;
    }


}